/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Karla:wght@400;600&family=Work+Sans:wght@600;700&display=swap');



html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: #FFFFFF;

}

body {

  font-family: 'Karla', sans-serif;

}

/* mobile styling for smallest screens */

/* Free shipping container */
.fs-div {

  width: 100%;
  height: 50px;
  color: white; 
  background-color: #708665;

  }

.fs-text {

  padding-top: 10px;
  text-align: center;
  font-size: 16px;

  }

/* Navbar styling */

.nav-item {

padding: 15px;

}

.shopping-cart {

  background: #708665;
  padding: 10px;
  color: #FFF;
  border-radius: 50px;

}

.shopping-cart:hover{

  color: #708665;
  background:  #d8e0d4;
}

.navbar {
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #cddbc6;
  -moz-box-shadow: 0 8px 6px -6px #cddbc6;
  box-shadow: 0 8px 6px -6px #cddbc6;

}

.navbar .navbar-nav .nav-link:hover {
  color: #000000;
  font-weight: 500;
}

.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #708665;
  color: transparent;
  width: 0%;
  content: '';
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.nav-logo {

  width: 30%;
}

/* ------------ Header Banner Styling ----------- */
.header-container {

  display:flex;
  flex-direction: column;

}

.meanbean-slider-div-left {

  padding: 2rem;
  margin: auto auto;
  width: 100%;
  text-align: left;


}

.header-text, .header-slogan {

  color: #8cab7b;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;

}

.header-slogan {

  color: #6f8564;

}

.carousel-item {

  width: 100%;
}

.carousel-item-1 {

  background-image: url("../images/header/carousel_view_1.png");
}

.carousel-item-2 {

  background-image: url("../images/header/carousel_view_2.png");

}

.carousel-item-1, .carousel-item-2 {

  width: 100%;
  height: 50vh;
  background-size:contain;
}

/* ------------ Slogan Styling ----------- */
  
 .slogan-div {
  
  background-color: #708665;
  padding: 3rem;
  color: #FFF;

}

.slogan-content {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;

}

.skateboard-images{

  width: 100%;
  
}

.slogan-text {

  font-size: 1rem;
  text-align: center;

}

.learn-more-btn {

  text-align: center;
}

.learn-btn {

  color: #708765;
  background-color: #FFFFFF;
  border-radius: 0;
  border: 2px solid #708765;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.learn-btn:hover {

  color: #FFFFFF;
  background-color: #708765;
  border: 2px solid #FFFFFF;

}

  /* Product section styling */
  
  /* wrapper for products */
  .product-container {

    text-align: center;
    border-radius: 20px;
    margin-bottom: 5rem;

  }

  /* product images */
  .product-imgs {

    width: 250px;
    margin-top: 1.5rem;
    
  }

/* svg icons for */
  .product-icons {

    width: 75px;

  }
  
  /* section title "Sweet Treats" */
  .products-title h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #708665;
    font-size: 2.5rem;
  }

  .product-description {

    margin-left: 1rem;
    margin-right: 1rem;

  }
  
  /* card container for individual products */
  .mt-100 {
    margin-top: 6rem;
  }
  
  /* card styling and sizing */
  .card {
    width: 300px;
    border-radius: 15px;
    border: 1px solid rgba(191, 191, 191, 0.282);
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, .2)
  }
  

  .card-title {
  
    color: #708665;
    font-weight: bolder;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
  
  }
  
  .product-region {
 
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 16px;
  
  }
  
  .card-body {

    position: relative;
    height: 555px;

  }
  
  .cart-btn {
  
    background-color: #708665;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    color: #FFF;
    font-size: 0.9rem;
    margin-top: 1rem;
  
  }
  
  .cart-btn:hover {
  
    background-color: #d8e0d4;
    color: #708665;
  
  }

  /* --------------- Testimonials Section ----------------*/

  .carousel-item {

  	background-size: cover;
  	/* background-position: center center; */
    background-color: #98a790;
    padding: 4rem;
    text-align: center;
}

.carousel-item h1 {

    color: white;
}

.ratings {

  padding-bottom: 1.2rem;
}

.quote {

  font-size: 2rem;
}

.testimonial-text-quote {

  font-size: 1.1rem;
  color: #FFFFFF;
}


.testimonial-text {

  color: #FFFFFF;
  font-style: italic;
}

.testimonial-product {

  color: #FFFFFF;
  border-bottom: 2px dotted #708665;
  display: inline;

}


 /* --------------- Skateboard Container ----------------*/

  .skateboard-container {

    text-align: center;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }



 /* --------------- Footer Section ----------------*/
footer {

  background-color: #708665;
  padding: 3rem;
  text-align: center;

}


/* titles for footer */
.footer-titles {

  font-size: 1.3rem;
  font-weight: 600;
  color: #FFF;
  margin-top: 1rem;

}

/* text within footer */
.footer-text {

  font-size: 0.9rem;

}

.email-input::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 0.7em; 

}

.email-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 0.7em;
}

.email-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 0.7em;
}

.email-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 0.7em;
} 

/* divider, only visible on larger devices */
footer .divider { 
  
  border-right: none; 

} 

.contact-section, .email-content, .socials-section {

  padding-top: 1.5rem;
}


/* ------------ Email Input ------------- */

.email-input {

  width: 60%;
  margin: auto auto;
  padding: 0.5rem;
  border-radius: 2px;
  border: none;

}

/* cta buttons */
.action-btn {

  background-color: #FFF;
  border-radius: 2px;
  padding: 0.6rem;
  color: #708665;
  border: 2px solid #708665;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-top: 1rem;

}

/* hovers for ctas */
.action-btn:hover {

  color: #FFF;
  background-color: #708665;
  border: 2px solid #FFF;


}

/* Small devices - landscape phones  */
@media (min-width: 576px) {

  /* Header */
  .header-container {

    flex-direction: row;
  }

  .meanbean-slider-div-left {

    width: 50%;

  }

  .meanbean-slider-div-right {

    width: 50%;
  }

  .header-text, .header-slogan {

    font-size: 2.3rem;
  
  }

  .carousel-item {

    height: 360px;
  
  }

.carousel-item-1, .carousel-item-2 {

  background-position: center;
}

  /* --------------- Testimonials Section ----------------*/  

  .carousel-item {

  padding: 2rem 5rem;


}

.ratings {

  padding-bottom: 0;
}

.quote {

  font-size: 2rem;
}

.testimonial-text-quote {

  font-size: 1.1rem;
  color: #FFFFFF;
}

.testimonial-product {

  font-size: 1rem;

}

/* Footer styling for tablet */

.email-content {

  text-align: left;
  
}
.email-input {

  width: 80%;
  padding: 0.5rem;
  border-radius: 2px;
  border: none;

}

.contact-section {

  text-align: left;
  padding-left: 4rem;

}


}



/* ------------ Tablet Styling and Desktops------------- */


@media (min-width: 768px) {

  .header-text, .header-slogan {

    font-size: 2.6rem;
  
  }


  /* slogan section */

  .slogan-heading {

    font-size: 1.2rem;

  }


/* titles for footer */
.email-input {

  width: 70%;
  margin: auto auto;

}

/* divider, only visible on larger devices */
.footer {

  height: 100%;

}

footer .divider { 
  
  border-right: 3px dashed #FFF;
  padding-right: 2rem;

} 


}

/* Extra Large Devices */
@media (min-width: 1200px) {

  .header-text, .header-slogan {

    font-size: 3rem;
    padding-left: 3rem;
  
  }


  /* slogan section */

  .slogan-heading {

    font-size: 1.5rem;

  }

  .carousel-item-1, .carousel-item-2 {

    width: 100%;
    height: 65vh;
    background-size: cover;
  }
  

  .email-input {

    width: 60%;
    margin: auto auto;
  
  }


  }